@charset 'utf-8';

$tab: 768px;
$sp: 767px;

@mixin tab {
	@media (max-width: ($tab)) {
		@content;	
	}
}

@mixin sp {
	@media (max-width: ($sp)) {
		@content;	
	}
}

* {
    box-sizing: border-box;
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: #fff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color: #333;
}

.flex_box {
	display: flex;
}

li,ol {
	list-style: none;
}

img {
	width: 100%;
	height: auto;	
}

.inner {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
}

.wrap {
	overflow: hidden;
}